<config>
    <modules>
        <Devhh_Brands>
            <version>0.0.1</version>
        </Devhh_Brands>
    </modules>
    <global>
        <models>
            <devhh_brands>
                <class>Devhh_Brands_Model</class>
            </devhh_brands>
        </models>
        <blocks>
            <devhh_brands>
                <class>Devhh_Brands_Block</class>
            </devhh_brands>
        </blocks>
        <helpers>
            <devhh_brands>
                <class>Devhh_Brands_Helper</class>
            </devhh_brands>
        </helpers>
        <rewrite>
            <fancy_url>
                <from><![CDATA[/hersteller\/(.*).html/]]></from>
                <to><![CDATA[brands/index/index/name/$1]]></to>
                <complete>1</complete>
            </fancy_url>
        </rewrite>
    </global>
    <frontend>
        <layout>
            <updates>
                <devhhbrands>
                    <file>devhh_brands.xml</file>
                </devhhbrands>
            </updates>
        </layout>
        <routers>
            <devhh_brands>
                <use>standard</use>
                <args>
                    <module>Devhh_Brands</module>
                    <frontName>brands</frontName>
                </args>
            </devhh_brands>
        </routers>
    </frontend>
</config>